:root {
  --base: rgb(244, 244, 245);
  --base-dark: rgb(26, 26, 26);
  --primary: rgb(14, 165, 233);
  --primary-dark: rgb(10, 122, 174);
  --primary-light: rgba(77, 192, 245, 0.79);
  --secondary: rgb(41, 45, 62);
  --secondary-dark: rgb(36, 36, 36);
  --dark-nav-accent: rgba(235, 235, 235, .6);
  --dark-nav-accent-divider: rgba(235, 235, 235, .2);
  --divider: rgba(18, 18, 18, .3);
}

html {
  background-color: var(--base);
  color: var(--base-dark);
}

html.dark {
  --base: rgb(26, 26, 26);
  --base-dark: rgb(244, 244, 245);
  --secondary: rgb(36, 36, 36);
}


/* Dark Mode animation */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}
