button, [role="button"] {
  cursor: pointer;
}
select, [role="listbox"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
[hidden] {
  display: none;
}

:root {
  --base: rgb(18, 18, 18);
  --base-light: rgb(244, 244, 245); 
  --primary: rgb(14, 165, 233);
  --primary_dark: rgb(14, 165, 233);
  --secondary: rgb(30, 41, 59);
  --grey: rgb(226, 232, 240);
}

.dark {
  background-color: rgb(var(--base));
  color: rgb(var(--base-light));
}
